<md-card class="md-whiteframe-1dp">
<div class="table-responsive-vertical">
	<md-toolbar class="md-padding">
	  <div layout="column" layout-padding layout-align="center center" class="md-padding" style="padding-top:52px;">
	    <img src="images/chartetgo_300.png" style="width: 300px;">
	    <div><h3>Charter Go 0.5 Beta</h3></div>
	  </div>
	</md-toolbar>
	<div class="md-padding">
	  <div layout="row" layout-padding layout-align="center" class="md-padding">
		  <div layout="column" >
		   	<p>Panel de control del sistema Charter Go</p>
	    	<a target="_blank" style="text-align:center;" href="http://gente21.com">Un producto de Gente21, registro en trámite</a>
		  </div>
	  </div>
	  <div layout="row" layout-align="center">
		  <div layout="column">
		    <p class="note" style="text-align:center;">contacto@gente21.com</p>
		  </div>
	  </div>
	</div>
</div>
</md-card>
