<md-card class="md-whiteframe-1dp md-padding">
  <form role="form" name="thisForm" id="thisForm" novalidate class="md-padding">

    <md-input-container flex="100" md-no-float class="margin-input-container">
      <md-icon>lugar</md-icon>
      <input required name="name" ng-model="place.name" maxlength="50" placeholder="Nombre del viaje (título) *">
    </md-input-container>

    <md-input-container flex="100" md-no-float class="margin-input-container">
      <md-icon>directions</md-icon>
      <input required name="address" ng-model="place.address" maxlength="100" placeholder="Dirección *">
    </md-input-container>

    <div layout="row">
      <md-input-container flex="40" md-no-float class="margin-input-container">
        <md-icon>phone_in_talk</md-icon>
        <input name="phone" ng-model="place.phone" maxlength="25" placeholder="Tel&eacute;fono">
      </md-input-container>
      <div flex="5"></div>
      <md-input-container flex="40" md-no-float class="margin-input-container">
        <md-icon>public</md-icon>
        <input name="website" ng-model="place.website" maxlength="100" placeholder="Sitio web">
      </md-input-container>
    </div>

    <fieldset class="standard margin-input-container md-padding">      
      <legend>Número de lugares y precio *</legend>      
        <div layout="row" layout-wrap>
          <div flex="50">
            <label>Lugares disponibles</label>
            <div layout="row" layout-align="left center">
              <input type="number" name="lugares" ng-model="place.lugares" maxlength="25" placeholder="Lugares disponibles">
            </div>
          </div>
          <div flex="50">
            <label>Precio por persona</label>
            <div layout="row" layout-align="left center">
              <input type="number" step=0.01 name="precio_por_persona" ng-model="place.precio_por_persona" placeholder="Precio por persona">
            </div>
          </div>
        </div>            
    </fieldset>

    <fieldset class="standard margin-input-container md-padding">
      <legend>Fecha límite para solicitar *</legend>
      <div layout="row" layout-align="left center">
        <input id="datepicker" ng-model="place.fecha_vencimiento">
      </div>
    </fieldset>

    <fieldset class="standard margin-input-container md-padding">
      <legend>Condiciones del servicio *</legend>
      <div layout="row" layout-align="left center">
        <textarea id="condiciones" ng-model="place.condiciones" style="width: 100%; max-width: 100%; margin-left: 0; margin-right: 0;" rows="5">
        </textarea>
      </div>
    </fieldset>

    <fieldset class="standard margin-input-container">
      <legend>Categor&iacute;a *</legend>
      <md-input-container>
        <div layout="row" layout-wrap>
          <div name="category" flex="50" ng-repeat="i in categories_data">
            <md-checkbox ng-checked="isCategorySelected(i, cat_selected)" ng-click="toggleCategory(i, cat_selected)">
              <span ng-if="!isCategorySelected(i, cat_selected)">{{i.name}}</span>
              <span ng-if="isCategorySelected(i, cat_selected)"><b>{{i.name}}</b></span>
            </md-checkbox>
          </div>
        </div>
        <div ng-if="!categoryValid" class="red-alert">Eliga al menos una categor&iacute;a</div>
      </md-input-container>
    </fieldset>

    <fieldset class="standard margin-input-container md-padding">
      <legend>Imágen primaria *</legend>
      <div layout="row" layout-align="center center">
        <input class="padding-top-bottom" type="file" name="image" onchange="angular.element(this).scope().onFileSelect(this.files)" flex/>
        <md-button class="md-icon-button" ng-click="viewImage($event, 'uploads/place/'+place.image)" ng-if="!isNewEntry()">
          <md-icon>wallpaper</md-icon>
        </md-button>
      </div>
      <div ng-if="!imageValid" class="red-alert">Solo JPG/PNG, de hasta 0.5MB</div>
    </fieldset>

    <fieldset class="standard margin-input-container md-padding">
      <legend>Imágen opcional</legend>
      <div layout="column">
        <div layout="row" layout-align="center center">
          <input class="padding-top-bottom" type="file" name="image_1" onchange="angular.element(this).scope().onFileSelectImages(this.files, 0)" flex/>
          <div ng-if="!isNewEntry() && images[0]!=null">
            <md-button class="md-icon-button" ng-click="deleteImage($event, images[0])"><md-icon>clear</md-icon></md-button>
            <md-button class="md-icon-button" ng-click="viewImage($event, 'uploads/place/'+images[0].name)"><md-icon>wallpaper</md-icon></md-button>
          </div>
        </div>
        <div ng-if="!imagesValid[0]" class="red-alert">Solo JPG/PNG, de hasta 0.5MB</div>

        <div layout="row" layout-align="center center">
          <input class="padding-top-bottom" type="file" name="image_2" onchange="angular.element(this).scope().onFileSelectImages(this.files, 1)" flex/>
          <div ng-if="!isNewEntry() && images[1]!=null">
            <md-button class="md-icon-button" ng-click="deleteImage($event, images[1])"><md-icon>clear</md-icon></md-button>
            <md-button class="md-icon-button" ng-click="viewImage($event, 'uploads/place/'+images[1].name)"><md-icon>wallpaper</md-icon></md-button>
          </div>
        </div>
        <div ng-if="!imagesValid[1]" class="red-alert">Solo JPG/PNG, de hasta 0.5MB</div>

        <div layout="row" layout-align="center center">
          <input class="padding-top-bottom" type="file" name="image_3" onchange="angular.element(this).scope().onFileSelectImages(this.files, 2)" flex/>
          <div ng-if="!isNewEntry() && images[2]!=null">
            <md-button class="md-icon-button" ng-click="deleteImage($event, images[2])"><md-icon>clear</md-icon></md-button>
            <md-button class="md-icon-button" ng-click="viewImage($event, 'uploads/place/'+images[2].name)"><md-icon>wallpaper</md-icon></md-button>
          </div>
        </div>
        <div ng-if="!imagesValid[2]" class="red-alert">Solo JPG/PNG, de hasta 0.5MB</div>

        <div layout="row" layout-align="center center">
          <input class="padding-top-bottom" type="file" name="image_4" onchange="angular.element(this).scope().onFileSelectImages(this.files, 3)" flex/>
          <div ng-if="!isNewEntry() && images[3]!=null">
            <md-button class="md-icon-button" ng-click="deleteImage($event, images[3])"><md-icon>clear</md-icon></md-button>
            <md-button class="md-icon-button" ng-click="viewImage($event, 'uploads/place/'+images[3].name)"><md-icon>wallpaper</md-icon></md-button>
          </div>
        </div>
        <div ng-if="!imagesValid[3]" class="red-alert">Solo JPG/PNG, de hasta 0.5MB</div>

      </div>
    </fieldset>

    <br>
    <legend>Descripci&oacute;n *</legend>
    <div text-angular="text-angular" required name="description" ng-model="place.description"></div>
    <br><br>

    <div layout="row" layout-align="start center">
      <md-input-container flex="30" md-no-float class="margin-input-container">
        <input type="number" required name="Latitude" ng-model="place.lat" maxlength="100" placeholder="Latitud *">
      </md-input-container>
      <div flex="5"></div>
      <md-input-container flex="30" md-no-float class="margin-input-container">
        <input type="number" required name="longitude" ng-model="place.lng" maxlength="100" placeholder="Longitud *">
      </md-input-container>
      <!-- EL DE COORDINADAS ESTÁ ESCONDIDO POR EL MOMENTO  
      <div flex="4"></div>
      <md-button class="md-primary" href="http://www.mapcoordinates.net/en" layout-wrap target="_blank">Coordinate Picker</md-button>
    -->
    </div>

    <md-input-container flex="100">
      <md-checkbox ng-model="send_gcm">Enviar mensaje a los usuarios *?</md-checkbox>
    </md-input-container>

    <em> (*) campo requerido</em>

    <div class="md-actions md-padding" layout="row">
      <span flex></span>
      <md-button ng-if="!submit_loading" class="md-warn" ng-click="cancel()" >
       CANCELAR
      </md-button>
      <md-button ng-if="!submit_loading" ng-disabled="!isReadySubmit() || thisForm.$invalid" ng-click="submit(place)" class="md-raised md-primary">
        {{buttonText}}
      </md-button>
      <md-progress-circular ng-if="submit_loading" class="md-accent" md-mode="indeterminate" md-diameter="30px"></md-progress-circular>
    </div>
  </form>
</md-card>

<script type="text/javascript">
  $(function() {

    $.datepicker.regional['es'] = {
       closeText: 'Cerrar',
       prevText: '< Ant',
       nextText: 'Sig >',
       currentText: 'Hoy',
       monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
       monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
       dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
       dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
       dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
       weekHeader: 'Sm',
       dateFormat: 'dd/mm/yy',
       firstDay: 1,
       isRTL: false,
       showMonthAfterYear: false,
       yearSuffix: ''
       };
    $.datepicker.setDefaults($.datepicker.regional['es']);


    $( "#datepicker" ).datepicker({
      dateFormat: 'yy-mm-dd'
    });
  });
</script>
