<md-card class="md-whiteframe-1dp md-padding">
<div class="table-responsive-vertical">
  <table id="table" class="table table-hover">
		<thead>
		<tr >
			<th width="2%">#</th>
			<th width="20%">Nombre</th>
			<th width="5%">Actualizado</th>
			<th width="5%" style="text-align:center;">Men&uacute; de acciones</th>
		</tr>
		</thead>

		<tbody>
		  	<tr ng-repeat="p in places">
			    <td data-title="No">{{($index+1) + (paging.current * paging.limit) - paging.limit}}</td>
			    <td data-title="Name">{{p.name}}</td>
			    <td data-title="Last Update">{{p.last_update | date:'dd MMM yy'}}</td>
			    <td data-title="Action Menu" style="padding: 0rem 0rem 0rem 1rem;">
            <div layout="row">
              <md-button class="md-icon-button" ng-click="deletePlace($event, p)">
                <md-icon>delete</md-icon>
                <md-tooltip>Borrar</md-tooltip>
              </md-button>
              <md-button class="md-icon-button" ng-click="editPlace($event, p)">
                <md-icon>create</md-icon>
                <md-tooltip>Editar</md-tooltip>
              </md-button>
              <md-button class="md-icon-button" ng-click="detailsPlace($event, p)">
                <md-icon>launch</md-icon>
                <md-tooltip>Detalle</md-tooltip>
              </md-button>
            </div>
			    </td>
		  	</tr>
	  	</tbody>
	</table>
	<div ng-if="loading" style="text-align:center;" colspan="10">
		<p>Loading</p>
		<md-progress-linear md-mode="indeterminate"></md-progress-linear>
	</div>
</div>

<!--pagination view-->
<section layout="row" flex>
	<cl-paging flex cl-pages="paging.total" , cl-steps="paging.step" , cl-page-changed="paging.onPageChanged()" , cl-align="center center" , cl-current-page="paging.current"></cl-paging>
</section>

</md-card>
